[Unit]
Description=Restic Backup Orchestrator

[Timer]
OnCalendar=*-*-* 01:00:00
Persistent=true
Unit=restor.service

[Install]
WantedBy=timers.target
